/*
    Personalizados de login
 */

/*
    personalizados do adminlte
 */
.widget-user-username {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.widget-user-username h3 {
  font-weight: bold;
}

.widget-user .widget-user-image > img {
    width: 100px;
    height: 90px;
    border-radius: 5px;
}

.widget-user .widget-user-image {
    margin-left: -50px;
}

.widget-user-header {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.description-block {
    min-height: 50px;
}

/*
    Personalizados do sistema
*/
.less-height {
    height: 50px;
}

.view-banner {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.view-logo {
    border: 3px solid #cecece;
    border-radius: 5px;
}

