body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.background-navy-blue {
    background-color: #1D2A31 !important;
}

.header-background {
    /*background-image: url('../img/neo-quimica-arena.jpg');*/
    background-color: #1D2A31;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    min-height: 400px;
}

.translucid-background {
    background-color: rgba(254, 254, 254, 0.9);
    border-radius: 50px;
    padding: 20px;
}

.match-box {
    height: 100px; /* Altura fixa para visualização */
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

