* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/football_field.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.content {
    position: relative;
    background: transparent;
    color: white;
    padding: 20px;
}

.content p {
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

.footer-background {
    height: 100vh;
    background: #318b3b; /* Color matching the grass in the image */
}

.translucid-background {
    background-color: rgba(254, 254, 254, 0.9);
    border-radius: 50px;
    padding: 20px;
}
